.main {
  margin-bottom: $gap * 4;

  .site-search {
    margin-top: -15px;
    margin-bottom: $gap * 3;
  }

  .user-login {
    margin-bottom: $gap * 4;
  }

}

.new-films,
.top-week {
  h1 {
    font-size: 3rem;
    margin: -8px 0 45px 0;
    font-family: "PT Serif", serif;
    overflow: hidden;

    &::after {
      content: "";
      display: inline-block;
      width: 100%;
      height: 3px;
      background: lighten($color-accent, 30%);
      margin: 0 -100% 0 0.3em;
    }

    @include xs {
      font-size: 2rem;
    }
  }

  h2 {
    @include h2-before-after_html;
  }

  h6 {
    margin: 0;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-weight: 700;
    font-size: 1rem;
    font-family: "PT Sans", sans-serif;
    line-height: 1.428;
  }

  .row {
    margin-right: -$gap / 2;
    margin-left: -$gap / 2;
    margin-bottom: -$gap;
  }

  .thumbnail {
    margin-bottom: 0;
    transition: background-color 0.5s;

    &:hover,
    &:focus {
      background-color: $color-accent;
      border-color: $color-accent;

      .new-films-item__label {
        color: $color-light;
      }

      .top-week-item__label {
        color: $color-light;
      }
    }
  }

  &-item {
    padding-left: $gap / 2;
    padding-right: $gap / 2;
    margin-bottom: $gap;
    text-align: center;

    &__label {
      display: block;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    &__image {
      width: 100%;
    }
  }
}

.film-news {
  h2 {
    @include h2-before-after_html;
  }

  h3 {
    font-size: 1.5rem;
    color: $color-primary;
    margin-top: 0;

    a {
      transition: color 0.25s;
    }
  }

  &-item {
    &:hover {
      .thumbnail {
        background-color: $color-accent;
      }
      h3 > a {
        color: $color-accent;
      }
      .btn-warning {
        background-color: $color-accent;
      }
    }

    .thumbnail {
      transition: background-color 0.25s;
    }

    .btn-warning {
      float: right;
      margin-bottom: $gap * 2;
      transition: background-color 0.25s;
    }

    &__image {
      float: left;
      margin: 0 0 10px 0;
      width: 100%;
    }

    &__text {
      text-align: justify;
    }
  }
}



