@mixin text-shortener {
  display: block;
  overflow: hidden;

  white-space: nowrap;
  text-overflow: ellipsis;
}

@mixin block-shortener($fz: 1rem, $lh: 1.5, $h: 70px, $l: 3) {
  display: -webkit-box;
  overflow: hidden;

  height: $h;

  font-size: $fz;
  line-height: $fz * $lh;

  -webkit-box-orient: vertical;
  -webkit-line-clamp: $l;
}

@mixin bg-color($a: 0, $rgb: 0) {
  background: rgba($rgb, $rgb, $rgb, $a);
}

@mixin block-header {
  margin: 0;
  padding-bottom: 10px;

  border-bottom: 1px solid $color-dark;
}

@mixin visually-hidden {
  position: absolute;

  overflow: hidden;
  clip: rect(0 0 0 0);

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  border: 0;
}

@mixin h2-before-after {
  display: inline-block;
  width: 100%;
  font-size: 2.5rem;
  margin: ($gap * 4) 0 ($gap * 3) 0;
  font-family: "PT Serif", serif;
  overflow: hidden;

  &::after {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    height: 3px;
    background: lighten($color-accent, 30%);
    margin-right: -100%;

    border: solid $color-light;
    border-width: 0 10px;
  }

  &::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 45px;
    height: 3px;
    background: lighten($color-accent, 30%);
    margin-left: 0;

    border-right: solid $color-light;
    border-width: 0 10px 0 0;
  }

  @include xs {
    font-size: 1.75rem;
  }
}
